$-c-white: #FFFFFF;
$-c-black: #000000;
$-c-dark-text: #2C4058;
$-c-light-blue: #55B7FF;
$-c-purple: #7E5AFF;
$-c-dark-gray: #333333;


$-f-Source-Sans-Pro: 'Source Sans Pro';
$-f-Montserrat: 'Montserrat';
$-f-Open-Sans: 'Open Sans';